@using TreeViewDemo.Data
@model TreeViewDemo.Models.Category
@inject AppDbContext _db
@{
    ViewData["Title"] = "Create";
    Category parent = ViewBag.parent;
}

@if (parent == null)
{
    <h4>Create Top Level Category</h4>
}
else
{
    <h4>Create Child Category <span class="text-info">(in @parent.Name)</span></h4>
}
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" asp-for="ParentId" value="@(parent?.Id)"/>
            @if (parent == null && !_db.FilteredCategories().Any())
            {
                <div class="form-group">
                    <label asp-for="TreeName" class="control-label">Tree Name</label>
                    <input asp-for="TreeName" class="form-control" data-val="true" data-val-required="Enter Tree Name" placeholder="Tree Name"/>
                    <span asp-validation-for="TreeName" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="GrandParentName" class="control-label">Grand Parent Name</label>
                    <input asp-for="GrandParentName" class="form-control" data-val="true" data-val-required="Enter Tree Grand Parent Name" placeholder="Tree Grand Parent Name"/>
                    <span asp-validation-for="GrandParentName" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="ParentName" class="control-label">Parent Name</label>
                    <input asp-for="ParentName" class="form-control" data-val="true" data-val-required="Enter Tree Parent Name" placeholder="Tree Parent Name"/>
                    <span asp-validation-for="ParentName" class="text-danger"></span>
                </div>
            }
            @if (ViewBag.partial == true)
            {
                <input asp-for="Partial" value="True" type="hidden"/>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Category Name</label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TextColor" class="control-label"></label>
                        <input asp-for="TextColor" class="form-control" value="@(Model?.TextColor ?? "#000000")" type="color"/>
                        <span asp-validation-for="TextColor" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="BgColor" class="control-label"></label>
                        <input asp-for="BgColor" class="form-control" value="@(Model?.BgColor ?? "#ffffff")" type="color"/>
                        <span asp-validation-for="BgColor" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr/>
            <h3>Attributes</h3>
            <div class="form-group">
                <label asp-for="Attribute1" class="control-label"></label>
                <input asp-for="Attribute1" class="form-control"/>
                <span asp-validation-for="Attribute1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attribute2" class="control-label"></label>
                <input asp-for="Attribute2" class="form-control"/>
                <span asp-validation-for="Attribute2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attribute3" class="control-label"></label>
                <input asp-for="Attribute3" class="form-control"/>
                <span asp-validation-for="Attribute3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attribute4" class="control-label"></label>
                <input asp-for="Attribute4" class="form-control"/>
                <span asp-validation-for="Attribute4" class="text-danger"></span>
            </div>


            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" value="True" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            $('#Status').click();
        </script>
    }
}